@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Caracas Fruit</h1>
    <p class="lead">This an exercise to test my skills.</p>
    <a href="/Sales/New" class="btn btn-info">Process Sale</a>
    <a href="/Sales/Report" class="btn btn-info">Sales Report</a>
</div>